.app__feature {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    margin: 1rem;
}

.app__feature-title {
    flex: 1;
    max-width: 200px;
    
    margin-right: 2rem;
}

.app__feature-title h3 {
    color: #fff;
    font-family: var(--font-alt);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.004em;
}

.app__feature-text {
    flex: 2;
    max-width: 450px;
    display: flex;
}

.app__feature-text p {
    font-family: var(--font-base);
    font-size: 18px;
    line-height: 28px;
    color: var(--color-crimson);
}


@media screen and (max-width: 1050px) {
    .app__feature {
        margin: 1rem 0;
    }

    .app__feature-title h3 {
        font-size: 16px;
        line-height: 22px;
    }

    .app__feature-text p {
        font-size: 14px;
        line-height: 22px;
    }
}